body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 
      [left-navbar-start] 0%
      [left-navbar-end content-start] 25%
      [content-end right-sidebar-start] 0%
      [right-sidebar-end];
  grid-template-rows: 
      [body-start] 80%
      [body-end footer-start] 20%
      [footer-end];
}