<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  						
<mapper namespace="ClubPostCommentMapper">



	<resultMap id="clubPostCommentSelectMap" type="com.link.service.domain.Comment">
		<result property="clubPostCommentNo"		column="club_post_comment_no" 		jdbcType="NUMERIC"/>
		<result property="clubPostNo"				column="club_post_no" 				jdbcType="NUMERIC"/>
		<result property="user.userId" 				column="user_id" 					jdbcType="VARCHAR"/>
		<result property="commentContent" 			column="comment_content" 			jdbcType="VARCHAR"/>
		<result property="commentRegDate" 			column="comment_reg_date" 			jdbcType="DATE"/>
		<result property="commentUpdateDate" 		column="comment_update_date" 		jdbcType="DATE"/>
		<result property="commentHeartCount" 		column="comment_heart_count" 		jdbcType="NUMERIC"/>
		<result property="commentCount" 			column="comment_count" 				jdbcType="NUMERIC"/>
		<result property="reportCondition" 			column="report_condition" 			jdbcType="VARCHAR"/>
		<result property="deleteCondition" 			column="delete_condition" 			jdbcType="VARCHAR"/>
		<result property="parent" 					column="parent" 					jdbcType="NUMERIC"/>
		<result property="depth" 					column="depth" 						jdbcType="NUMERIC"/>
		<result property="sequence" 				column="sequence" 					jdbcType="NUMERIC"/>
	</resultMap>


	
	<!-- 모임게시물 댓글 리스트 -->
	<select id="getClubPostCommentList" parameterType="comment" resultMap="clubPostCommentSelectMap">
		SELECT CLUB_POST_COMMENT_NO, CLUB_POST_NO, USER_ID, COMMENT_CONTENT, COMMENT_REG_DATE, COMMENT_UPDATE_DATE, COMMENT_HEART_COUNT,
		COMMENT_COUNT, REPORT_CONDITION, DELETE_CONDITION, PARENT, DEPTH, SEQUENCE
		FROM CLUB_POST_COMMENT
		<choose>
			<when test="clubPostNo != null and clubPostNo != '' and clubPostNo != 0"></when>
			<when test=""></when>
			<otherwise></otherwise>
		</choose>
		<if test="clubPostNo != null and clubPostNo != '' and clubPostNo != 0">
		WHERE CLUB_POST_NO = #{ clubPostNo }
		</if>
		<if test="clubPostCommentNo != null and clubPostCommentNo != '' and clubPostCommentNo != 0">
		WHERE PARENT = #{ clubPostCommentNo }
		</if>
		ORDER BY COMMENT_REG_DATE ASC
	</select>
	
	
	
	<!-- 댓글 등록 -->
	<insert id="addClubPostComment" parameterType="comment">
		INSERT INTO CLUB_POST_COMMENT (CLUB_POST_COMMENT_NO, CLUB_POST_NO, USER_ID, COMMENT_CONTENT, COMMENT_REG_DATE, COMMENT_UPDATE_DATE,
		COMMENT_HEART_COUNT, COMMENT_COUNT, REPORT_CONDITION, DELETE_CONDITION, PARENT, DEPTH, SEQUENCE)
		VALUES (seq_club_post_comment_no.NEXTVAL, #{ clubPostNo }, #{ user.userId }, #{ commentContent }, sysdate, null, 0, 0, '0', '0', #{ parent }, #{ depth }, #{ commentCount })
	</insert>
	
	
	
	<!-- 가장 최신 모임게시물 댓글 번호 가져온다 -->
	<select id="getClubPostCommentNo" resultType="int">
		SELECT V1.CLUB_POST_COMMENT_NO
		FROM ( SELECT *
				FROM CLUB_POST_COMMENT C
				ORDER BY COMMENT_REG_DATE DESC ) V1
		WHERE ROWNUM = 1
	</select>
	
	

	<!-- 특정 댓글을 가져온다 -->	
	<select id="getClubPostComment" parameterType="comment" resultMap="clubPostCommentSelectMap">
		SELECT CLUB_POST_COMMENT_NO, CLUB_POST_NO, USER_ID, COMMENT_CONTENT, COMMENT_REG_DATE, COMMENT_UPDATE_DATE, COMMENT_HEART_COUNT,
		COMMENT_COUNT, REPORT_CONDITION, DELETE_CONDITION, PARENT, DEPTH, SEQUENCE
		FROM CLUB_POST_COMMENT
		WHERE CLUB_POST_COMMENT_NO = #{ clubPostCommentNo }
	</select>
	
	
	
	<!-- 댓글내용 수정 -->
	<update id="updateClubPostComment" parameterType="comment">
		UPDATE CLUB_POST_COMMENT
		SET
		<choose>
			<when test="heartCondition == 1">COMMENT_HEART_COUNT = COMMENT_HEART_COUNT + 1</when>
			<when test="heartCondition == -1">COMMENT_HEART_COUNT = COMMENT_HEART_COUNT - 1</when>
			<when test="reportCondition == 1">REPORT_CONDITION = 1</when>
			<otherwise>COMMENT_CONTENT = #{ commentContent }, COMMENT_UPDATE_DATE = SYSDATE</otherwise>
		</choose>
		WHERE CLUB_POST_COMMENT_NO = #{ clubPostCommentNo }
	</update>
	
	
	
	<!-- 댓글 삭제 -->
	<update id="deleteClubPostComment" parameterType="comment">
		UPDATE CLUB_POST_COMMENT SET DELETE_CONDITION = '1' WHERE CLUB_POST_COMMENT_NO = #{ clubPostCommentNo }
	</update>
	
	
	
	
	 
</mapper>