<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  						
<mapper namespace="FeedMapper">



	<resultMap	id="feedSelectMap"			type="feed">
		<result property="feedNo"			column="feed_no"				jdbcType="INTEGER" />
		<result property="userId"			column="user_id"				jdbcType="VARCHAR" />
		<result property="openCondition"	column="feed_open_condition"	jdbcType="CHAR" />
		<result property="content"			column="feed_content"			jdbcType="VARCHAR" />
		<result property="image1"			column="feed_image1"			jdbcType="VARCHAR" />
		<result property="image2"			column="feed_image2"			jdbcType="VARCHAR" />
		<result property="image3"			column="feed_image3"			jdbcType="VARCHAR" />
		<result property="image4"			column="feed_image4"			jdbcType="VARCHAR" />
		<result property="video"			column="feed_video"				jdbcType="VARCHAR" />
		<result property="hashtag"			column="hashtag"				jdbcType="VARCHAR" />
		<result property="likeCount"		column="feed_like_count"		jdbcType="INTEGER" />
		<result property="commentCount"		column="feed_comment_count"		jdbcType="INTEGER" />
		<result property="regDate"			column="feed_reg_date"			jdbcType="DATE" />
		<result property="updateDate"		column="feed_update_date"		jdbcType="DATE" />
		<result property="reportCondition"	column="report_condition"		jdbcType="CHAR" />
		<result property="deleteCondition"	column="delete_condition"		jdbcType="CHAR" />
	</resultMap>
	

	<insert 	id="addFeed"					parameterType="feed">
		INSERT into feed
		VALUES (
			#{userId},
			#{openCondition},
			#{content},
			#{image1},
			#{image2},
			#{image3},
			#{image4},
			#{video},
			#{hashtag},
			#{likeCount},
			#{commentCount},
			#{regDate},
			#{updateDate},
			#{reportCondition},
			#{deleteCondition}	)
	</insert>
	
	
	<select 	id="getFeed"					parameterType="int"			resultMap="feedSelectMap">
		SELECT 
		*
		FROM feed
		WHERE feed_no = #{feed_no}
	</select>
	
	
	
	<update		id="updateFeed"					parameterType="feed">
		UPDATE feed
		<set>
		
		</set>	
		WHERE feed_no 				= #{feedNo}
	</update>
	
	
	
	<update		id="deleteFeed"					parameterType="feed">
		UPDATE feed
		<set>
			deleteCondition			= '1'
		</set>
		WHERE feed_no 				= #{feedNo}
	</update>
	
	<!-- 
	<select 	id="getFeedList"				parameterType="search"		resultMap="feedSelectMap">
		SELECT 
		*
		FROM feed
	</select>
	
	
															 -->
	
	<update		id="deleteFeedComment"			parameterType="feed">
		UPDATE comment
		<set>
			deleteCondition			= '1'
		</set>
		WHERE feed_no 				= #{feedNo}
	</update>

	
	
	<select 	id="getTotalFeedCount"			parameterType="search"		resultType="int">
		SELECT
	  	COUNT(*)
	  	FROM (
	  			SELECT 
	  			*
				FROM feed	)
	</select>
	
	
	
	<select 	id="getTotalFeedCommentCount"	parameterType="search"		resultType="int">
		SELECT
	  	COUNT(*)
	  	FROM (
	  			SELECT 
	  			*
				FROM comment	)
	</select>
	
	
	
</mapper>