<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="QandAMapper">


	<resultMap id="qandASelectMap" type="qanda">
		<result property="qandANo" 				column="qanda_no" 		      jdbcType="NUMERIC" />
		<result property="qandATitle"			column="qanda_title"		  jdbcType="VARCHAR" />
		<result property="qandAContent" 		column="qanda_content" 		  jdbcType="VARCHAR" />
		<result property="qandARegDate"			column="qanda_regdate" 		  jdbcType="DATE" />
		<result property="qandAImage1" 			column="qanda_image1" 		  jdbcType="VARCHAR" />
		<result property="qandAImage2" 			column="qanda_image2" 		  jdbcType="VARCHAR" />
		<result property="qandAAnswerContent" 	column="answer_content" 	  jdbcType="VARCHAR" />
		<result property="qandAAnswerRegDate" 	column="answer_regdate" 	  jdbcType="DATE" />
		<result property="qandACondition" 		column="answer_condition" 	  jdbcType="VARCHAR" />
		<result property="qandAOpenCondition" 	column="qanda_open_condition" jdbcType="VARCHAR" />
		<result property="qandACount"			column="qanda_count"		  jdbcType="INTEGER" />


		<association property="user" javaType="user">
			<result property="userId" column="user_id" jdbcType="VARCHAR" />
		</association>
	</resultMap>




	<!-- SQL : INSERT -->
	<insert id="addQandA" parameterType="qandA" >
		INSERT INTO QANDA
		( QANDA_NO, QANDA_TITLE, QANDA_CONTENT, QANDA_REGDATE, QANDA_IMAGE1,
		QANDA_IMAGE2, ANSWER_CONDITION, QANDA_OPEN_CONDITION, QANDA_COUNT, USER_ID)
		
		VALUES (SEQ_QANDA_NO.NEXTVAL, 
				#{qandATitle}, 
				#{qandAContent},
				SYSDATE,
				#{qandAImage1},
				#{qandAImage2}, 
				#{qandACondition}, 
				#{qandAOpenCondition}, 
				#{qandACount}, 
				#{user.userId} )
		
	</insert>

	<!-- SQL : SELECT ONE -->
	<select id="getQandA" parameterType="int" resultMap="qandASelectMap">
		SELECT
		QANDA_NO, QANDA_TITLE, QANDA_CONTENT, QANDA_REGDATE, QANDA_IMAGE1,
		QANDA_IMAGE2, ANSWER_CONTENT,
		ANSWER_REGDATE, ANSWER_CONDITION, QANDA_OPEN_CONDITION, QANDA_COUNT, USER_ID
		FROM QANDA
		WHERE QANDA_NO = #{QANDA_NO}

	</select>

	<update id="getCount" parameterType="int">
		UPDATE QANDA
		<set>
			QANDA_COUNT = QANDA_COUNT+1
		</set>
		WHERE QANDA_NO = #{QANDA_NO}

	</update>



	<!-- SQL : UPDATE 관리자와 유저 어떻게 나눌지 -->
	<update id="updateQandA" parameterType="qandA">
		UPDATE QANDA
		<set>
		qanda_title = #{qandATitle},
		qanda_content= #{qandAContent},
		qanda_regdate = SYSDATE,
		qanda_image1 = #{qandAImage1},
		qanda_image2 = #{qandAImage2},
     	answer_content = #{qandAAnswerContent},
     	answer_regdate = SYSDATE,
     	answer_condition= '1'
		</set>
		WHERE qanda_no = #{qandANo}
	</update>

	<!-- SQL : DELETE -->

	<delete id="deleteQandA" parameterType="int">
		DELETE
		FROM qanda
		WHERE qanda_no = #{qanda_no}

	</delete>

		<!-- SQL : SELECT LIST -->
	<select  id="getQandAList"  parameterType="search"	resultMap="qandASelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT qanda_no , qanda_title , answer_condition , user_id , qanda_count, qanda_regdate
											FROM qanda
											<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				LOWER(qanda_no) LIKE LOWER('%${searchKeyword}%')
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				LOWER(qanda_title) LIKE LOWER('%${searchKeyword}%')
													</if>
												</where>
											</if>
											ORDER BY qanda_no ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 
	 <!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT qanda_title , qanda_content , qanda_regdate
						FROM qanda
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 			qanda_title = #{searchKeyword}
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 		qanda_content = #{searchKeyword}
								</if>
							</where>
						</if> ) countTable						
	 </select>
	 


</mapper>