<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Report_PushMapper">
 	
 	
	<resultMap id="report_PushSelectMap" type="report">

	<association property="userId1" javaType="user">
		<result property="userId" column="user_id1" jdbcType="VARCHAR"/>
	</association>
	<association property="userId2" javaType="user">
		<result property="userId" column="user_id2" jdbcType="VARCHAR"/>
	</association>
	</resultMap>
	
	<!-- SQL : INSERT -->
	
	 
	 
	 
</mapper>